<h4><%= @person.full_name %></h4>
<p><%= @person.age %></p>
<p><%= @person.hair_color %></p>
<p><%= @person.eye_color %></p>

<%= link_to 'Edit', edit_person_path(@person.id) %>
<%= link_to 'Delete', person_path(@person.id), method: :delete %>
<%= link_to 'Back', people_path %>
